.flex-container {
  display: flex;
}

.flex-child {
  flex: 1;
}

.initiallyHidden {
  display: none;
}

.numcardsTextInput {
  width:30px;
  text-align: center;
}

.cardsListInput {
  text-align: center;
}

.indent22 {
  padding-left: 22px;
}


.margin-left-20 {
    margin-left: 20px;
}

#outputTableWrapper td {
  padding-left: 35px;
}
